html {
  font-size: 10px;
}

body {
  background-color: #e5e5e5;
  margin: 0px;
}

* {
  font-family: Inter;
}

/* ---------HEADER------------ */
.accountBar {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  background-color: #f3f3f3;
  padding: 0 5vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accountBar a {
  margin-right: 40px;
  font-size: 1.4rem;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.headerBottom {
  padding: 0 5vw;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  place-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.headerBottom span {
  background-color: #de1515;
  color: white;
  border-radius: 8px;
  padding: 5px;
  font-weight: 300;
}

nav.categoryNav {
  display: flex;
}

nav.categoryNav h2 {
  margin-right: 20px;
}

nav.categoryNav h2 a {
  text-decoration: none;
  color: black;
}

/* -------END HEADER ----------- */

/* ----------- FOOTER -------------- */

footer {
  margin-left: 25px;
  padding: 0 5vw;
}

.footerTop span {
  background-color: #de1515;
  color: white;
  border-radius: 8px;
  padding: 5px;
  font-weight: 300;
}

.footerTop {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.socialLinks {
  display: flex;
}
.socialLink {
  margin-right: 20px;
  background: #0000000a;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.socialLink img {
  padding-top: 10px;
}

.yt img {
  padding-top: 12px;
}

.footerBottom {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.footerBottom ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.footerBottom p {
  color: #626262;
  font-size: 1.2rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footerBottom a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footerBottom li {
  margin-bottom: 15px;
}

.footerBottom ul :first-child {
  margin-bottom: 10px;
}
/* -------------END FOOTER ------------ */

.middleSection {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  margin-top: 40px;
}

/* ------- Login Form ------- */

.login-form {
  width: 35rem;
  font-family: Inter;
  padding: 10px;
  background: #e5e5e5;
}

.login-form h2 {
  margin: 0;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}

.login-form h3 {
  font-weight: lighter;
  margin: 20px 0 10px 0;
  font-size: 1.6rem;
}

.login-form label {
  font-size: 1.4rem;
  font-weight: bold;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  display: block;
  line-height: 5rem;
  border: 1px;
  border-radius: 8px;
  font-size: 2.5rem;
  transition: border 0.4 ease;
}

.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover {
  border: 1px solid #a1a1a1;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border: 1px solid #545454;
}

.login-form input[type="email"] {
  background: white url(images/duck.png) no-repeat scroll 7px 13px;
  margin-bottom: 25px;
  padding-left: 30px;
  width: calc(100% - 30px);
}

.login-form input[type="password"] {
  background: white url(images/lock.png) no-repeat scroll 7px 13px;
  padding-left: 30px;
  width: calc(100% - 30px);
}

.login-form input[type="submit"] {
  background-color: #de1515;
  color: white;
  width: 101%;
  border: 1px;
  border-radius: 8px;
  line-height: 5rem;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1.7rem;
  transition: background-color 0.4s ease;
}

.login-form input[type="submit"]:hover {
  background-color: #bd1212;
}

.login-form .pass-recovery {
  border: none;
  background-color: #e5e5e5;
  color: red;
  margin-bottom: 15px;
  cursor: pointer;
}

.login-form .create-acc {
  background-color: #ededed;
  width: 101%;
  border-radius: 8px;
  border: 1px;
  line-height: 5rem;
  cursor: pointer;
  font-size: 1.7rem;
  transition: background-color 0.4s ease;
}

.login-form .create-acc:hover {
  background-color: #cecbcb;
}
