html {
  font-size: 10px;
}

body {
  background-color: #e5e5e5;
  margin: 0px;
}

* {
  font-family: Inter;
}

/* ---------HEADER------------ */
.accountBar {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  background-color: #f3f3f3;
  padding: 0 5vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accountBar a {
  margin-right: 40px;
  font-size: 1.4rem;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.headerBottom {
  padding: 0 5vw;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  place-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.headerBottom span {
  background-color: #de1515;
  color: white;
  border-radius: 8px;
  padding: 5px;
  font-weight: 300;
}

nav.categoryNav {
  display: flex;
}

nav.categoryNav h2 {
  margin-right: 20px;
}

nav.categoryNav h2 a {
  text-decoration: none;
  color: black;
}

/* -------END HEADER ----------- */

/* ----------- FOOTER -------------- */

footer {
  padding: 20px calc(5vw + 25px) 0 calc(5vw + 25px);
  background: #ffffff;
}

.footerTop span {
  background-color: #de1515;
  color: white;
  border-radius: 8px;
  padding: 5px;
  font-weight: 300;
}

.footerTop {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.socialLinks {
  display: flex;
}
.socialLink {
  margin-right: 20px;
  background: #0000000a;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.socialLink img {
  padding-top: 10px;
}

.yt img {
  padding-top: 12px;
}

.footerBottom {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.footerBottom ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.footerBottom p {
  color: #626262;
  font-size: 1.2rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footerBottom a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footerBottom li {
  margin-bottom: 15px;
}

.footerBottom ul :first-child {
  margin-bottom: 10px;
}
/* -------------END FOOTER ------------ */

.middleSection {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  margin-top: 40px;
}

.mainHeader h1 {
  margin-top: -1rem;
  font-size: 3rem;
}

.mainHeader h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.serviceSection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.serviceArticle {
  background-color: white;
  padding: 0 2rem 2rem 2rem;
  width: 20%;
  margin-right: 1rem;
  margin-bottom: 3rem;
  border-radius: 8px;
}

.serviceArticle h3 {
  font-size: 2.5rem;
}

.serviceArticle p {
  font-size: 1.5rem;
}

.serviceArticle h4 {
  background: #ececec;
  height: 3rem;
  width: 3rem;
  text-align: center;
  padding: 8px 5px 0 5px;
  font-size: 1.5rem;
}

.serviceArticle button {
  background: #de1515;
  color: white;
  font-size: 2.2rem;
  border-radius: 8px;
  border: none;
  width: 100%;
  line-height: 4rem;
  font-weight: bold;
  font-size: 2rem;
}

.serviceArticle button:hover {
  background: #b41111;
}
